/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

/* 
1.từ ngoài vào trong
2.từ trên xuống dưới
3.tổng quan đến chi tiết
*/

/* 
1.vị trí
2.kích thước(height, width)
3.màu sắc
4.kiểu dáng(kiểu chữ, hình vuông, hình tròn,..
*/

/* common */
.clear{
    clear: both;
}

.text-white{
    color: white !important;
}

.text-center{
    text-align: center !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.colum{
    float: left;
    padding: 0px 8px;
}

.colum-full{
    width: 100%;
}

.colum-half{
    width: 50%;
}

.colum-third{
    width: calc(100% / 3);
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

/* main */
#main{

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
    display: block;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0px 23px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
    color: black;
}

#header .search-btn .mobile-menu-icon,
#header .search-btn .search-icon{
    color: white;
    line-height: 46px;
}

#header .mobile-menu-btn{
    display: none;
}

#slider{
    /* background-color: gray;
    height: 9999px; */
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: white;
    text-align: center;
    /* right: 50%;
    transform: translateX(50%); Căn giữa cách 1 */
    /* right: 0;
    left: 0; Căn giữa cách 2*/
    width: 100%;/* Căn giữa cách 3 */
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    font-weight: 600;
}

#content{

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
    margin-top: 32px;
}

#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* tour section */
.tour-section{
    background-color: black;
}

.ticket-list{
    background-color: white;
    margin-top: 40px;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}

.ticket-list .sout-out{
    background-color: #f44336;
    color: white;
    padding: 3px 7px;
    margin-left: 16px;
}

.ticket-list .quatily{
    float: right;
    background-color: black;
    color: white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
    margin-top: -3px;
}

/* tour place */

.place-list {
    margin-top: 16px;
}

.place-item{
    
    width: calc(100% / 3);
    
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
}

.place-time{
    margin-top: 15px; 
    opacity: 0.6;   
}

.place-description{
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 11px 15px;
    display: inline-block;
}

.place-buy-btn:hover{
    background-color: #ccc;
    color: black;
    border: none;
}

/* contact-from */
.contact-content{
    margin-top: 47px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.6;
}

.contact-info a {
    color: #00e;
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-info i[class*="ti-"]{
    margin-right: 8px;
}

/* contact-form */
.contact-form{
    font-size: 15px;
}

.contact-form .form-control {
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}
 
.form-submit-btn {
    float: right;
    padding: 11px 16px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
}

.form-submit-btn:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

/* Map-section */
.map-section img{
    width: 100%;
}

/* footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    text-decoration: none;
}

#footer .social-list i{
    color: black;
    opacity: 0.6;
    padding: 2px;
}

#footer .social-list i:hover{
    opacity: 0.3;
}

#footer .copyright{
    margin-top: 16px;
    font-size: 15px;
}

#footer .copyright a{
    color: black;
    opacity: 0.6;
}

#footer .copyright a:hover{
    opacity: 0.3;
}


/* model */
.model{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.model.open{
    display: flex;
}

.model-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modelFadeIn ease 0.5s;
}

.model-header {
    background-color: #009688;
    font-size: 30px;
    color: white;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moddel-header-item{
    margin-right: 16px;
}

.model-close {
    position: absolute;
    right: 0;
    padding: 16px 18px;
    color: white;
    cursor: pointer;
    font-weight: 800;
}

.model-close:hover{
    background-color: #ccc;
    color: black;
}

.model-body {
    padding: 16px;
    font-size: 15px;
}

label.model-label {
    display: block;
}

.model-label{
    margin-top: 15px;
}

.model-input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 11px;
    width: 100%;
    border: 1px solid #ccc;
}

#buy-ticket {
    background-color: #009688;
    width: 100%;
    font-size: 15px;
    padding: 17px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

#buy-ticket:hover{
    background-color: #ccc;
    color: black;
}

.model-help {
    float: right;
    padding: 16px;
}

.model-help a {
    color: #2196F3;
}

@keyframes modelFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}